@import '../../configs/variables.scss';

.user-list-root {
  background: $white;
  margin: 20px;

  .avatar {
    background-color: $lighter-grey;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    fill: $dark-grey;
  }

  .list {
    display: flex;
    height: 80px;
    padding: 0 15px;
    align-items: center;

    &:last-child {
      .person-info {
        border-bottom: none;
      }
    }
  }

  .icon {
    fill: $dark-grey;
  }

  .person-info {
    margin-left: 15px;
    border-bottom: 1px solid $light-grey;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .name-and-email {
      margin-right: auto;
    }

    .date,
    small,
    .last-login {
      color: $grey;
    }

    .date,
    .last-login {
      margin-right: 10px;
      display: none;

      @media (min-width: $web-min-width) {
        display: block;
      }
    }
  }

  .mobile-only {
    display: block;
    @media (min-width: $web-min-width) {
      display: none;
    }
  }
}
