// Colors
$blue: #2271f7;
$white: #fff;
$lighter-grey: #f5f5f5;
$light-grey: #efefef;
$grey: #bbbbbb;
$dark-grey: #707073;
$black: #000;

// Sizes
$web-min-width: 768px;

// Font sizes
$base-font-size: 16px;
$small-font-size: 0.8rem;
$large-font-size: 1.2rem;
