@import '../../configs/variables.scss';

.app-root {
  .main {
    display: flex;
  }

  .nav-column {
    display: none;
    flex-basis: 300px;

    @media (min-width: $web-min-width) {
      display: block;
    }
  }

  .content-column {
    flex-basis: 100%;
    min-height: calc(100vh - 60px);
    background-color: $lighter-grey;
  }
}
