@import '../..//configs/variables.scss';

.user-header-root {
  height: 60px;
  padding: 0 15px;
  background-color: $white;
  box-shadow: $box-shadow;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: $large-font-size;

  .title {
    margin-right: auto;
  }

  > * {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}
