@import '../../configs/variables.scss';

.nav-root {
  .header {
    font-size: $large-font-size;
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    background-color: $white;
    box-shadow: $box-shadow;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    margin-top: -10px;
  }

  .link {
    text-decoration: none;
    color: $black;
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $white;
    }

    .copy {
      margin-left: 10px;
    }

    .icon {
      fill: $dark-grey;
      margin-top: 12px;
    }
  }
}
